<h1>Hello, hello, what's all this then?</h1>

<p>URLs Please is an experiment in collaborative community content creation. It's a (free) marketplace for ideas for blog posts, articles, videos, screencasts, etc. It's also a personal journey into some application development topics, like scalability and data science, that I want to get some hands-on experience tackling.</p>

<h2>What do you want to know?</h2>

<p>I want a place for content creation supply to meet content demand, but I want the exchange to happen between individuals, outside the control of content aggregators.
  I was inspired by the <%= link_to "skribit", "http://skribit.com/" %> widget on <%= link_to "Yehuda Katz's website", "http://yehudakatz.com/" %>. It lets visitors suggest topics for a blogger to write about. For Yehuda, who is an expert on Ruby, JavaScript, and web frameworks, the suggested topics are technical. What if this capacity were available at a higher level? The idea for a marketplace or clearinghouse for non-commercial content creation is compelling. 

<h2>Content, community, collaboration</h2>

<p>The World Wide Web was intended to be as much about production as consumption. We almost take it for granted that the walled gardens of content aggregators truly make this the best possible world. I'm inspired by people like J Chris Anderson, who argue <%= link_to "things could be different", "http://jchrisa.net/drl/_design/sofa/_show/post/Imagine-There-s-No-YouTube"%>. I want to champion an older model in which content creators author and host their own works and share them using the simple elegance of the link to a URL.</p>

<p>I am not trying to recreate the search engine or sites like <%= link_to "Stack Overflow","http://stackoverflow.com/" %>. I want my effort to complement, not replace or co-opt, the healthy functioning of our World Wide Web. </p>