<% content_for :title do "To-do items" end %>

<% content_for :css do %>
ul.retired li {
  text-decoration: line-through;
}
<% end %>

<p><b>Current Version: 0.1</b> 
  (<%= link_to "release notes", welcome_releasenotes_path %>)<br />
  July 28, 2010</p>

<h2>To do</h2>

<h3>Immediate goal: Open up traffic</h3>
<ul>
  <li>Test at high numbers of records.</li>
  <li>Flog: blog posts, twitter, personal emails.</li>
  <li>Google analytics</li>
</ul>

<h3>Minor improvements</h3>
<ul>
  <li>Reverse chronological order for many listings</li>
  <li>Recommended requests should not include your own</li>
</ul>

<h3>For version 0.2:</h3>
<ul>
  <li>Incrementally better interface.</li>
  <li>Some basic branding.</li>
  <li>Recommending requests by tag should be cumulative: more tag matches, higher position</li>
  <li>Eat my own mustache dog food.</li>
  <li>Add basic model layer caching.</li>
</ul>

<h3>For future versions:</h3>
<ul>
  <li>Use OpenID only</li>
  <li>Show a preview of request excerpt as a user types.</li>
  <li>Suggest tags as user types</li>
  
  <li>Token to place in blog post to confirm authorship.</li>
  <li>Tags for resource, user expertise characterization</li>
  <li>Suggest tags for user based on existing subscriptions</li>
  <li>Ratings by click, user reputation</li>
  <li>Applaud and complain options</li>
  <li>Summary gathering from resources (scraping)</li>
  <li>Bayesian analysis for spam, link farms</li>
  <li>CanSpam, Phishing registry filters on resources</li>
  <li>Search by request contents</li>
  <li>Rate well-formatted and accessible HTML resources higher</li>
  <li>Anti-robot measures on posting resources and responses, if necessary</li>
  <li>Gravatars for users</li>
</ul>
<h3>A gleam in my eye</h3>
<ul>
  <li>Allow users to tag others users (reputation)
  <li>Gather communities by who has responded to whom, who reads whose requests and resources</li>
  <li>Rate high google score resources higher</li>
  <li>Admin review and/or review requests by user referees (by tag)</li>
  <li>Social network integration: Tweet or FB status update for request, (hashtags too).<br />
      Post popular requests, responses to content aggravators.</li>
</ul>

<h3>Recently retired:<h3>
<ul>
  <li>Extract security-sensitive configuration info from repository code<li>
  <li>Open-source code<li>
  <li>Since password salt has changed, make email password update mechanism work (Sendgrid)</li>
</ul>