<% content_for :title do "To-do items" end %>

<% content_for :css do %>
ul.retired li {
  text-decoration: line-through;
}
<% end %>

<h2>To-do</h2>

<p>I'm just getting started here.</p>

<h3>Coming up:</h3>
<ul>
  <li>Validate resources as URLs</li>
  <li>Use tags' contents as IDs in RESTful paths</li>
  <li>Flog: blog posts, twitter, personal emails.</li>
</ul>
<h3>On the horizon:</h3>
<ul>
  <li>Anti-robot measures on signup, post</li>
  <li>OpenID only, srly</li>
  <li>Show request excerpt preview as user types</li>
  <li>Tags for resource, user expertise characterization</li>
  <li>Search by tags</li>
  <li>Ratings by click, user reputation</li>
  <li>Applaud and complain</li>
  <li>Summary gathering or resources (scraping)</li>
  <li>Bayesian analysis for spam, link farms</li>
  <li>Search by request contents</li>
  <li>Rate well-formatted and accessible HTML resources higher</li>
  <li>Eat your own dog food and use mustache</li>
</ul>
<h3>A gleam in my eye</h3>
<ul>
  <li>Gather communities by who has responded to whom, who reads whose requests and resources</li>
  <li>Rate high google score resources higher</li>
  <li>Admin review and/or review requests by experts (by tag)</li>
  <li>Social network integration: Tweet or FB status update for request, (hashtags too). Post popular requests, responses to content aggravators.</li>
</ul>

<h3>Retired:</h3>
<ul class="retired">
  <li>Basic Navigation, Homepage, etc.</li>
  <li>Nested Resources in Requests, incl. listing and post link on Request page</li>
  <li>Tags for request characterization</li>
  <li>Devise for authentication</li>
  <li>(Slightly) nicer layout.</li>
  <li>Point URL to heroku app. Zerigo, custom domain.</li>
  <li>Google apps for email.</li>
  <li>Add urlsplease github account.</li>
  <li>Excerpt requests for listing display (100 characters)</li>
</ul>