<h2>To-do</h2>

<p>I'm just getting started here.</p>

<ul>
  <li>Functionality: Navigation, Homepage, etc.</li>
  <li>(Slightly) nicer layout, pitchy copy.</li>
  <li>Free, and in search of customers.</li>
  <li>Point URL to heroku app. Zerigo, custom domain.</li>
  <li>Blog post, twitter, personal emails.</li>
  <li>
  <li>Anti-robot on signup, post.</li>
  <li>Google apps for email.</li>
  <li>
  <li>OpenID only, srly</li>
  <li>
  <li>Tags, searchable</li>
  <li>Ratings by click, user reputation</li>
  <li>Applaud and complain</li>
  <li>
  <li>Summary gathering (scraping)</li>
  <li>Bayesian analysis for spam, link farms</li>
  <li>Rate well-formatted and accessible HTML higher</li>
  <li>Rate high google score HTML higher</li>
  <li>Admin review and/or review requests by experts (by tag)</li>

  <li>Social network integration: Tweet or FB status update for request, (hashtags too)</li>
  <li>Social network integration: Post popular requests, responses to reddit, HN (if applic), etc.</li>
</ul>