<h1>Listing requests</h1>

<table>
  <tr>
    <th>Requirements</th>
    <th>User</th>
    <th></th>
  </tr>

<% @requests.each do |request| %>
  <tr>
    <td><%= request.requirements %></td>
    <td><%= request.user.nickname %></td>
    <td><%= link_to 'More', user_request_path(request.user, request) %></td>

  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Request', new_user_request_path(current_user) %>
