<% content_for :title do "Request by #{@request.user.nickname}" end %>

<h2>Request</h2>
<p>
  <b>Requirements:</b>
  <%= @request.requirements %>
</p>

<p>
  <b>Posted by:</b>
  <%= @request.user.nickname %>
</p>

<%= link_to 'Back', requests_path %>
